@model WebApplicationProoductCrud.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Product</label>
                <input asp-for="NomeProd" class="form-control" />
                <span asp-validation-for="NomeProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Fabrica</label>
                <select id="SelectFab" asp-for="NomeFabri" class="form-control" asp-items="new SelectList(ViewBag.FabProd)">
                    <option selected disabled>Selecione</option>
                </select>
                <span asp-validation-for="NomeFabri" class="text-danger"></span>
            </div>
            <div class="form-group" id="SelectNes">
                <label class="control-label">Category</label>
                <select  asp-for="CategoryProd" class="form-control" asp-items="new SelectList(ViewBag.Nestle)">
                    <option selected disabled>Selecione</option>
                </select>
           
                <span asp-validation-for="CategoryProd" class="text-danger"></span>
            </div>
            <div class="form-group" id="SelectCoca">
                <label class="control-label">Category</label>
               
                <select asp-for="CategoryProd" class="form-control" asp-items="new SelectList(ViewBag.Coca)">
                    <option selected disabled>Selecione</option>
                </select>
                <span asp-validation-for="CategoryProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Qtd</label>
                <input asp-for="QtdProd" class="form-control" />
                <span asp-validation-for="QtdProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Price</label>
                <input asp-for="ValueProd" class="form-control" />
                <span asp-validation-for="ValueProd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script>
    const select1 = document.getElementById("SelectCoca");
    const select2 = document.getElementById("SelectNes");

    document.getElementById("SelectFab").addEventListener("change", (value) => {
        console.log(value.currentTarget.value);
        if (value.currentTarget.value === 'Nestle' || value.currentTarget.value === 'Nestlé') {
            select1.style.display = 'none';
            select2.style.display = 'block';
        } else {
            select1.style.display = 'block';
            select2.style.display = 'none';
        }
    });

    select1.style.display = 'none';
    select2.style.display = 'none';
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
